<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>

<body>
    <div class="container">
        <div class="left-column">
            <h2>Posts</h2>
            <ul>
                {% for post in site.posts %}
                <li>
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    <span>{{ post.date | date: "%d-%b-%Y" }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main-content">
            {{ content }}
        </div>
    </div>
</body>

</html>
